button{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.9vh;
    padding: 2vh;
    padding-left: 7vh;
    padding-right: 7vh;
    background-color: #fff0;
    border: 2px solid $black-color;
    border-radius: 2px;
    &:hover{
        cursor: pointer;
        background-color: $black-color;
        color: $white-color;
    }
}